.mainButton {
  background-color: #23FFDA;
  color: #151719;
  font-size: 1em;
  font-weight: 700;
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  transition: .35s transform;
  margin-top: 1rem;
}

.mainButton:focus {
  outline: none;
}

.mainButton:hover {
  cursor: pointer;
}
